* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.title, h2
{
    color: rgb(28, 18, 88);
}


.nav{
    background-color: #2c115e;
}
.nav__li{
    padding: 10px;
    display:inline-flex;
    justify-content:center;
    text-align:center;
    color: rgb(255, 255, 255); 
    border-radius: 10px;
}


.nav__li:hover > a{
    color: #ffffff;
    background: rgb(74, 30, 156);
    transition: background 1s, heigth 1s, width 1s;
    transition: color 1s, heigth 1s, width 1s;
}
.nav__li:hover{
    color: rgb(255, 254, 254);
    background: rgb(76, 29, 151);
    transition: background 1s, heigth 1s, width 1s;
    transition: color 1s, heigth 1s, width 1s;
}


.nav__li a{
    color: rgb(255, 255, 255);
    text-decoration: none; 
}
.nav__li i{
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}





.nav__ul{
    margin: 3px;
    display: inline-flex;
    list-style: none;
}